:root {
    --bg-color: #F2F2F2;
    --header-size: 3rem;
    --title-morebig-size: 1.85rem;
    --title-big-size: 1.6rem;
    --title-big-size-for-tel: 1.6rem;
    --title-small-size: 1.4rem;
    --desc-size: 1.1rem;
    --error-size: 1rem;
    --notice-size: 0.9rem;

    --color-white: #FFFFFF;
    --color-red-error: #ED6161;
    --color-text-red: #FF505E;
    --color-yellow-ci: #FCCC03;
    --color-light-yellow-ci: #ffdd6a;
    --color-black: #000000;
    --link-color: #3875EA;
}

.header-desktop {
    height: 97px;
    width: 100%;
    background-color: var(--bg-color);
    padding: 20px 10px 10px;
}

.header-mobile {
    display: none;
}

.header-desktop .sub-header-logo {
    width: 100%;
    position: relative;
}

.header-desktop .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-desktop .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-desktop .logo-wrapper>div {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.header-desktop .logo-wrapper>div:first-child {
    justify-content: flex-start;
}

.header-desktop .logo-wrapper>div:nth-child(3) {
    justify-content: flex-end;
}

.header-desktop .logo-wrapper .language-div{
    border: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    z-index: 2;
    width: 33.33%;
}

.header-desktop .logo-wrapper .lang-wrap-chosen {
    border: none;
    position: absolute;
    z-index: 0;
    opacity: 0;
    top: 0;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    transition: 0.2s all ease-in-out;
}

.header-desktop .logo-wrapper .lang-wrap-chosen.active {
    position: absolute;
    z-index: 99;
    opacity: 1;
    top: 60px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: 0.2s all ease-in-out;
}

.header-desktop .logo-wrapper .lang-wrap-chosen button{
    display: flex;
    border: none;
    margin-bottom: 10px;
}

.header-desktop .logo-wrapper .lang-wrap-chosen button img {
    margin-left: 0.5rem;
}

.header-desktop .sub-header-logo img {
    max-height: 69px;
}

.header-desktop .lang-wraper {
    display: flex;
    align-items: center;
}

.header-desktop .lang-wraper img {
    margin-left: 0.5rem;
}

.header-desktop .lang-wraper p,
.header-desktop .logo-wrapper .lang-wrap-chosen button p {
    font-size: 1.4rem;
}

@media only screen and (max-width:991px) {
    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
        background-color: var(--bg-color);
        height: 70px;
        width: 100%;
        padding: 20px 10px 10px;
    }

    .header-mobile .logo-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .lang-wraper {
        display: flex;
        align-items: center;
    }

    .header-mobile .lang-wraper img {
        margin-left: 0.5rem;
    }

    .header-mobile .logo-wrapper>div {
        width: 33.33%;
        display: flex;
        justify-content: center;
    }

    .header-mobile .logo-wrapper>div:first-child {
        justify-content: flex-start;
    }

    .header-mobile .logo-wrapper>div:last-child {
        justify-content: flex-end;
    }

    .header-mobile .logo-wrapper .language-div{
        border: none;
        justify-content: flex-end;
        position: relative;
        cursor: pointer;
        z-index: 2;
    }
    
    .header-mobile .logo-wrapper  .lang-wrap-chosen {
        border: none;
        position: absolute;
        z-index: 0;
        opacity: 0;
        top: 0;
        left: 46px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        transition: 0.2s all ease-in-out;
    }
    
    .header-mobile .logo-wrapper  .lang-wrap-chosen.active {
        position: absolute;
        z-index: 99;
        opacity: 1;
        top: 60px;
        left: 46px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        transition: 0.2s all ease-in-out;
    }
    
    .header-mobile .logo-wrapper  .lang-wrap-chosen button{
        display: flex;
        border: none;
        margin-bottom: 10px;
    }
    
    .header-mobile .logo-wrapper  .lang-wrap-chosen button img {
        margin-left: 0.5rem;
    }

    .header-mobile .container {
        max-width: unset;
    }

    .hamburger-btn {
        border: none;
        margin-right: 0.5rem;
    }

    .span-menu {
        min-height: calc(50vh);
        position: fixed;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        z-index: 2;
        width: 100%;
        top: 70px;
        left: -100%;
        transition: 0.3s all linear;
    }

    .span-menu.active {
        min-height: calc(50vh);
        position: fixed;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        width: 100%;
        top: 70px;
        left: 0;
        z-index: 2;
        transition: 0.3s all linear;
    }
}

@media only screen and (max-width:576px) {
    .header-mobile .logo-wrapper  .lang-wrap-chosen {
        left: 46px;
    }
    
    .header-mobile .logo-wrapper  .lang-wrap-chosen.active {
        left: 46px;
    }
}