:root {
  --header-size: 3rem;
  --title-size: 1.5rem;
  --desc-size: 1.1rem;
  --desc-size2: 1.2rem;
  --notice-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "ntFont";
}

.bold {
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.mock-cle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #ffdd6a;
  position: relative;
  display: grid;
  place-content: center;
}

.mock-cle.active {
  border: 1px solid #000000;
  background-color: #000000;
}

.header-block-wrapper .header1-block .header-block-header-image-left {
  position: absolute;
  top: 0;
  left: 0;
}

.content-main {
  background-color: lightgray;
  min-height: calc(100vh - 171px);
  width: 100%;
  padding: 1rem 0;
  background-size: cover;
  background-image: url("./assets/images/BG.png");
}

.content-main-wrapper {
  margin: auto;
  width: 100%;
}

/* banner  */
.content-header-block {
  margin: auto;
  height: 200px;
  background-image: url("./assets/images/desktop-hero-banner.png");
  border-radius: 10px 10px 0 0;
}

.content-body-block {
  margin: auto;
  min-height: 400px;
  /* max-width: 800px; */
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.header-block-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
}

/* banner  */
.header-block-wrapper .header1-block {
  height: 100%;
  /* background-color: var(--color-yellow-ci); */
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 6rem; */
}

.header-block-wrapper .header1-block .header-block-header-text .header-header-text {
  font-size: var(--header-size);
  font-weight: bold;
  position: relative;
  margin: 0 0 10px 0;
}

.header-block-wrapper .header1-block .header-block-header-text .header-normal-text {
  font-size: var(--title-size);
  font-weight: 400;
  position: relative;
  margin: 0;
}

.header-block-wrapper .header1-block .header-block-header-image {
  position: absolute;
  top: 5rem;
  right: 0;
}

.header-block-wrapper .header1-block .header-block-header-image img {
  max-width: 263px;
  max-height: 218px;
}

.header-block-wrapper .header1-block .step-wrapper {
  display: flex;
  padding: 20px 0 0 0;
  width: 100%;
  position: relative;
}

.header-block-wrapper .header1-block .step-wrapper .step {
  width: 33.33%;
  min-width: 120px;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-block-wrapper .header1-block .step-wrapper .step .step-text {
  text-align: center;
  margin: 15px 0 0 0;
  font-size: var(--desc-size);
}

.body-block-warpper {
  padding: 3rem 12rem;
}

.eservice-bill-b {
  width: 130px;
  height: 35px;
  background: #2ebf9b;
  background: linear-gradient(245deg, #2ebf9b 0%, #009896 100%);
  display: grid;
  place-content: center;
  border-radius: 20px;
  margin-bottom: 10px;
}

.eservice-bill-b .bill-b-text {
  font-size: var(--desc-size);
  color: #ffffff;
  margin: -2.5px 0 0 0;
}

.nt-bullet-line {
  position: absolute;
  height: 0px;
  border-top: 2px dotted #000000;
  width: 70%;
  left: 50%;
  top: 42.5px;
  transform: translateX(-50%);
}

/* btn */
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin: 2rem; */
}

.checkbox-tem {
  color: black !important;

}



.btn {
  /* padding: 0.8rem 3rem; */
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  width: 50%;
  height: 50px;
}

.btn-cancel {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.btn-submit {
  background-color: #ffc107;
  color: #333;
}

.column {
  display: flex;
  justify-content: space-between;
}

fieldset,
.upload-section-wrapper {
  margin-bottom: 1.5rem;
}

.column .input-wrapper {
  width: 50%;
  margin-top: 1.5rem;
}

.mrl-5 {
  margin-left: 5%;
}

.desc-text {
  font-size: var(--desc-size);
  /* font-weight: 400; */
}

.desc-text2 {
  font-size: var(--desc-size2);
  /* font-weight: 400; */
}

.notice-text {
  font-size: var(--notice-size);
  /* font-weight: 400; */
}

.red-text {
  color: #FF515E;
}

.notice-upload {
  margin-top: -0.5rem;
}

.column .input-wrapper input {
  width: 95%;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 10px 20px;
  margin-top: 1rem;
}

.upload-block {
  margin: 1.5rem 0;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  max-width: 235px;
  width: 100%;
  background-color: #FCCC03;
  border-radius: 25px;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.custom-file-upload img {
  margin-right: 0.5rem;
}

.upload-result {
  display: none;
}

.upload-file {
  width: 100%;
}

.upload-result.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 428px;
}

.upload-result.active .file-wrapper,
.upload-result.active .delete-btn {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.upload-result.active .file-wrapper .file-image-wrapper {
  margin-right: 2rem;
  margin-left: 0.5rem;
}

.upload-result.active .file-wrapper .file-text-wrapper {
  margin-right: 2rem;
  margin-left: 0.5rem;
  width: 280px;
}

.upload-result.active .delete-btn {
  cursor: pointer;
}

.failure {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.failure img {
  margin-right: 0.5rem;
}

.upload-progress {
  width: 100%;
  height: 8px;
  border-radius: 3px;
  background-color: #D5D5D5;
  margin: 0.5rem 0;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 3px;
  background-color: #3FC1AC;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}


@media (min-width: 375px) {
  .containernopad {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

  .body-block-warpper,
  .body-block-warpper1 {
    padding: 3rem 3rem;
  }
}

@media (min-width: 768px) {
  .containernopad {
    width: 728px;
    padding-left: 0;
    padding-right: 0;
  }

  .body-block-warpper {
    padding: 3rem 8rem;
  }

  .body-block-warpper1 {
    padding: 3rem 10rem;
  }
}

@media (min-width: 992px) {
  .containernopad {
    width: 970px;
  }

  .body-block-warpper1 {
    padding: 3rem 12rem;
  }
}

@media (min-width: 1200px) {
  .containernopad {
    width: 1000px;
  }
}

@media only screen and (max-width: 991px) {
  .header-block-wrapper .header1-block .header-block-header-image {
    position: absolute;
    top: -1rem;
    right: 0;
  }

  .content-main {
    min-height: calc(100vh - 144px);
  }

  .header-block-wrapper .header1-block .header-block-header-image img {
    max-width: 118px;
    max-height: 98px;
  }

  .header-block-wrapper .header1-block .header-block-header-text .header-header-text {
    font-size: 30px;
  }
}


@media only screen and (max-width: 560px) {
  .upload-result.active {
    max-width: unset;
    width: 95%;
  }

  .custom-file-upload {
    margin-left: 0;
  }

  .upload-result.active .file-wrapper,
  .upload-result.active .delete-btn {
    width: 100%;
  }

  .custom-file-upload {
    max-width: unset;
  }

  .column {
    flex-direction: column;
  }

  .column .input-wrapper {
    width: 100%;
  }

  .mrl-5 {
    margin-left: 0;
  }

  .column .input-wrapper input {
    width: 100%;
  }

  .upload-result.active .file-wrapper .file-image-wrapper {
    margin-right: 1.5rem;
  }

  .file-text-wrapper.uploading {
    margin-left: 0;
  }

  .info-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .column .input-wrapper.last {
    margin-top: 0;
  }
}

@media only screen and (max-width: 460px) {
  .header-block-wrapper .header1-block .header-block-header-image {
    position: absolute;
    top: -1rem;
    right: -1rem;
  }

  .btn {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
  }

  .header-block-wrapper .header1-block {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header-block-wrapper {
    position: relative;
    /* height: 150px; */
  }

  .header-block-wrapper .header1-block {
    padding-left: 0;
    padding-right: 0;
  }

  .header-block-wrapper .header1-block {
    padding-top: 0;
    padding-bottom: 0;
    width: 90%;
  }

  .body-block-warpper {
    padding: 2rem 1.5rem;
  }

  .header-block-wrapper .header1-block .step-wrapper .step {
    min-width: unset;
  }

}

.info-card {
  background-color: white;
  /* padding: 2rem; */
  margin: 2rem 0;
  position: relative;
}

.info-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0;
  width: 4px;
  background-color: #ffd700;
}

.info-row {
  display: flex;
  padding: 0.8rem 1rem;
  background-color: #f5f5f5;
  margin-bottom: 2px;
}

.info-label {
  flex: 1;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}

.info-value {
  flex: 1;
  color: #333;
  text-align: right;
  font-size: 1.2rem;
}

.checkbox-container {
  /* margin: 1rem 2rem;
  padding: 0 1rem; */
  font-size: 1.2rem;
}

.checkbox-container label {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.custom-checkbox {
  margin-top: 3px;
  cursor: pointer;
  accent-color: #FCCC03;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #FCCC03;
  border-radius: 50%;
  position: relative;
  margin-top: 0.4rem;
}

.custom-checkbox:checked {
  background-color: #FCCC03;
}

.custom-checkbox:checked::after {
  content: '✓';
  position: absolute;
  color: black;
  font-size: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-radio {
  accent-color: #ffd700;
}

.checkbox-container .emoji {
  margin-right: 4px;
}

.checkbox-main {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkbox-sub {
  color: #666;
  margin-left: 24px;
  font-size: 0.9rem;
}

.checkbox-main label,
.checkbox-sub label {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}



/* .footer {
  text-align: center;
  padding: 1rem;
  background-color: #424242;
  color: #fff;
}

.footer-text {
  color: #e0c636;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.footer-browser-support {
  color: #e0c636; 
  font-size: 0.875rem;
} */